{% extends './base.html' %}
{% load static %}
{% block content  %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTRATIONS</title>
  </head>
  <body style="padding-top:150px;background-color:#E6E6FA">
    <div class="container">


      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfLeRgE7vqdr_R38hTip7kladlQeGb_5EuSUYXzdmkqbLNhew/viewform?embedded=true" width="100%" height="850 " frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
  </body>
</html>
{% endblock %}
